@font-face {
  font-family: 'norwester';
  font-display: swap;
  src: url('../fonts/norwester.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat.woff') format('woff');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'norwester', "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
  -webkit-user-select: none;
  user-select: none;
}

*:not(a):not(a *) {
  cursor: default;
}

html {
  height: 100%;
}

body {
  background: #101214;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  color: #7A7C80;
  min-height: 100%;
  overflow: hidden;
}

h1,
h2 {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 25px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#page {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -280px;
  height: 560px;
}

@media only screen and (max-height: 580px),
only screen and (max-width: 578px) {
  #page {
    top: 14px;
    margin-top: 0;
  }
}

header {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 58%;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header-content {
  text-align: center;
}

#header-logo {
  text-align: center;
}

#header-content #logo {
  margin-bottom: 10px;
}

#header-content p {
  padding-top: 2px;
}

#contact {
  padding-top: 12px;
}

#contact a {
  display: inline-block;
  margin-right: 5px;
}

#contact a,
#contact a svg {
  width: 25px;
  height: 19px;
  cursor: pointer;
}

#contact a svg path {
  fill: #7A7C80;
}

#contact a:hover svg path {
  fill: #adb0b6;
}

#content {
  font-family: 'norwester';
  margin-top: 7%;
  position: absolute;
  left: 65%;
  width: 50%;
}

section {
  margin-bottom: 30px;
}

section h2 {
  height: 30px;
}

section ul {
  line-height: 22px;
  list-style: none;
  padding-top: 2px;
  padding-bottom: 5px;
}

section ul a {
  color: #7A7C80;
  text-decoration: none;
}

section ul a:hover {
  color: #adb0b6;
}

a.more {
  font-size: 16px;
  text-decoration: none;
}

a.more svg {
  width: 6px;
  height: 10px;
  margin-left: 7px;
}

a.more {
  color: #B0B1B3;
}

a.more .arrow {
  fill: #B0B1B3;
}

a.more:hover {
  color: #adb0b6;
}

a.more:hover .arrow {
  fill: #adb0b6;
}

#page-stripes {
  pointer-events: none;
}

@media screen and (min-width:768px) and (max-width:1300px) {
  #content {
    top: 14%;
  }

  #page {
    left: 15%;
  }
}


@media screen and (min-width:579px) and (max-width:767px) {
  #content {
    top: 17%;
  }
}

@media only screen and (max-width: 578px) {
  header {
    position: static;
    top: 10px;
    padding-bottom: 16px;
    margin: 40px 24px 16px;
    width: auto;
  }

  body {
    overflow-y: scroll;
  }

  #header-content #logo {
    top: -33px;
  }

  #header-content h1,
  #header-content p {
    left: 24px;
    margin-left: 0;
  }

  #contact {
    left: 252px;
    margin-left: 0;
  }

  #content {
    position: absolute;
    left: 24px;
    right: 24px;
    margin-left: 0;
    width: auto;
    text-align: center;
  }

  section,
  section#openSource,
  section#work {
    width: 100%;
    float: left;
    clear: both;
  }
}

.footer>h5 {
  font-family: 'Montserrat';
}

#intro {
  background: #101214;
  pointer-events: none;
}

#logo-container {
  transform-origin: 50% 50%;
  transform: scale(0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#logo-container>svg {
  width: 150vw;
  height: 150vh;
  max-width: 100%;
  max-height: 100%;
}



.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: run 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.lines .line:nth-child(1) {
  margin-left: -35%;
}

.lines .line:nth-child(1)::after {
  animation-delay: 2s;
}

.lines .line:nth-child(3) {
  margin-left: 35%;
}

.lines .line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes run {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}

@media screen and (max-width:1200px) {
  .footer>a>svg {
    margin-bottom: -10px;
    width: 110px;
  }
  .footer>h5{
    font-size: 12px;
  }
}

@media screen and (max-width:750px) {
  .footer>a>svg {
    margin-bottom: -20px;
    width: 80px;
  }
  .footer>h5{
    font-size: 10px;
  }
}

@media screen and (max-height:735px) {
  .footer>a>svg {
    display: none;
  }
  .footer>h5{
    display: none;
  }
}

::-webkit-scrollbar {

  width: 4px
}


::-webkit-scrollbar-track {

  background: 0 0
}



::-webkit-scrollbar-thumb {

  background: #888
}



::-webkit-scrollbar-thumb:hover {

  background: #555
}
